
@import url('//fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese');

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN","Noto Sans JP", Meiryo, メイリオ, "Open Sans",Lato,"Helvetica Neue",Helvetica,Arial,"PingFang TC","PingFang SC",STHeiti,"微軟正黑體","Microsoft Yahei",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
